.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 500px;
  background-color: var(--bg-soft);
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 5px;
}

.github {
  width: 80%;
  padding: 20px;
  cursor: pointer;
  background: #000000;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

.githubButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
